*{
    margin: 0;
    padding: 0;
}
.heading{
    display: flex;
    background-color: rgb(36, 41, 47);
    align-items: center;
    justify-content: space-between;  
    height: 60px;
    padding: 10px;
}

.th_left{
    flex: 0.1;
    object-fit: contain;
    padding: 10px;
    width: 40px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.th_center{
    align-items: center;
    color: white;
    letter-spacing: 3px;
    font-family: 'Padauk', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.th_right{
    flex: 0.1;
    object-fit: contain;
    color: white;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.Repository_box{
    margin: 10px;
    border: 1px solid rgb(211, 211, 211);
    min-width: fit-content;
    height: 400px;
}

.div,input{
    padding: 10px;
    margin: 10px;
    width: 360px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.div,button{
    padding: 0.5rem;
    position: relative;
    margin-left: 10px; 
    border: none;
    border-radius: 10px;
    background: whitesmoke;
    color: crimson;
    font-weight: bold;
    border-top: 1px solid whitesmoke;
}
h2{
    align-items: left;
    /* padding: 10px; */
    font-size: 16px;
    margin: 15px;
    padding-left: 8px;
}